<div class="main">
  <div class="inner">
    <div class="form__wrapper">
     <%= link_to image_tag("y-logo.png", class: :logo) %>
      <h2 class="page-heading"></h2>
        <%# 部分テンプレートでフォームを表示する %>
        <%= render "wishlists/form" %>
    </div>
  </div>
</div>