<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、" %>
        <%= link_to "#{current_user.nickname}さん", root_path, class: :greeting__link%>
      </div>
    <% end %>
      <%= link_to image_tag("wishlist-icon.png", class: :wish_logo), wishlists_path, method: :get %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
    </div>
  </div>


</main>
